/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.title{
  background-color: #fff;


}
.calculator {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.display {
  background-color: #282c34;
  color: #fff;
  font-size: 2.5rem;
  text-align: right;
  padding: 20px;
  box-sizing: border-box;
  min-height: 80px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  background-color: #ccc;
}

button {
  font-size: 1.5rem;
  background-color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

button:nth-child(3n) {
  background-color: #f0f0f0;
}

button:nth-child(4n) {
  background-color: #ec2b09;
  color: white;
}

button:nth-child(4n):hover {
  background-color: #45a049;
}
